*{
	margin: 0;
	padding: 0;
}

#wrap{

margin: 0 auto;
text-align: center;
}

#nheader{
	background: url("inner-banner-img-4-1140x386.jpg") purple;
	padding: 25px;
	height: 250px;
}

h1{
	color: white;
}

img{
	border: solid 4px white;
}

#npara{
	background: #c0392b; 
	height: 350px;
	padding: 30px;
}


.text_para{
	color: white;
	font-size: 30px;
	font-family: verdana;
	
}

.redColor{
	color: yellow;
}

#footer{
background-color: #2ecc71;
padding: 50px;
height: 100px;
}
